Part6_ExceptionHandling/ClickRunner/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="startup">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="supportedRuntime">
								<xs:complexType>
									<xs:attribute name="version" type="xs:string" use="required" />
									<xs:attribute name="sku" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="paths">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="path">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Name" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>